.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: palevioletred;
    align-items: center;
    margin: 0;
}

.header__left{
    display: flex;
    justify-content: space-between;
    gap:10px;
    align-items: center;
    margin-left: 16px;
}

.header__logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.header__button{
  background-color: pink;
  border: none;
  border-radius: 8px;
  height: 40px;
  margin-right: 16px;
  cursor: pointer;
}